body {
  background-color: #16423f;
  background: linear-gradient(to bottom right, white, rgba(150, 150, 150, 1), white);

}

.mg {
 padding-top: 50%;
 padding-bottom: 50%;
}

.full-height {
  height: 100vh; /* Full viewport height */
}

.upper-row {
  height: 15%; /* 20% of the parent height */
  align-items: center;
  display: flex;
  padding: 20px;
  /* width: 100%; */
}

.child_1{
  width: auto;
}


#parent_col{
  width: 100%;
}

.lower-row {
  height: 75%; /* 80% of the parent height */
}

.img-container {
  height: 750px;
  width: 750px;
}

.custom-form-control {
  padding: 0.25rem 0.5rem;  /* Adjust the padding as needed */
  font-size: 0.875rem;  /* Adjust the font size as needed */
  height: auto;  /* Ensure the height is auto-adjusted based on the padding and font size */
  
}

.custom-list-group {
  background-color: #E8E9EB;
}

.custom-list-group2 {
  background-color: #d9d9d9;
}

.display-card {
  background-color: #d9d9d9;
  border-radius: 2%;
  width: 200px;
  border: none;
}

.suggest-tab {

  background-color: rgba(196, 225, 197, 0.5);
  
}

.current-tab {
  border-left: 5px solid #d9d9d9;
  background-color: #d9d9d9;
  background-color: rgba(217, 217, 217, 0.5);

}

.black-and-white-theme {
  filter:grayscale(100%);
}

/* @media (max-width: 991.98px) {
  .lower-row .col-lg-2 {
    display: none;
  }
} */

.vid-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

/* This is the start of the modifications */


.change{
  background-color: rgba(20, 20, 20,0.2);
  text-align: center;
  text-transform: capitalize;
}

/*@New changes applied

 Added a parent card
*/
.parent-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-child{
  visibility: show;
  height: 100%;
  float: left;
  min-width: 25%;
  display:flex;
  align-items: center;
  transition: 5s;

  justify-content: center;
  padding: 0 3vw 0;
  background-color: #d9d9d9;
  /* background-color: yellow; */
}

.second-child{
  float: left;
  width: 65%;
  position: relative;
}

.parent-drop-down{
  /* border: 2px solid red; */
  margin: 0;
  width: 100%;
}

.child-drop-down{
  width: 100%;
}


#location_id{
  width: 191px;
}

#destination_id{
  width: 191px;
  margin-left: 10px;
}


/* Adding responsiveness to the App */

@media only screen and (max-width: 600px) {
  
  .parent-card{
    width: 100%;
    height: 100%;
  }


  .first-child{
    visibility: show;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0,0.7);
    height: auto;
    width: 100%;
    transition: 5s;
  }

  .second-child{
    float: left;
    width: 100%;
    padding: 5px;
    position: relative;

  }

  body{
    padding: 7px;
    width: 100%;
    height: 100%;
  }


/* Made the toolsBar reactive and responsive on phone screens */
  .upper-row {
    height: auto; /* 20% of the parent height */
    display: flex;
    flex-direction: column;
  }

  .input-group{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .btn-primary{
    width: 100%;
  }

  .input-group .form-control{
    width: 100%;
  }

  /* button:last-child{
    border: 2px solid yellow;
    width: 100%;

  } */

  #col_container{
    padding: 0;
  }

  .upper-row{
    width: 100%;
  }

  #parent_col{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  #location_id{
    width: 100%;
    margin:2.5px 0 2.5px 0;
  }
  
  #destination_id{
    width: 100%;
    margin:2.5px 0 2.5px 0;
  }

  .col{
    min-height: auto;
  }

  .col_1{
    visibility: show;
    position: relative;
  }

  .col_2{
    /* border: 2px solid blueviolet; */
    background-color: #d9d9d9;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    padding: 3px 0 3px 4px;
  }

}

/* @media (max-width: 991.98px) {
  .lower-row .col-lg-2 {
    display: none;
  }
} */